@use './src/scss' as *;

.letstry {
  position: relative;
  padding: 50px 0;

  &__badge {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;

    @include mobile {
      width: 140px;
      height: 140px;
    }

    img {
      position: absolute;
    }

    .circle {
      top: 0;
      left: 0;
      animation: circle 5s infinite linear;

      @keyframes circle {
        0% {
          transform: rotate(0);
        }
        100% {
          transform: rotate(180deg);
        }
      }
    }

    .txt {
      width: 90%;
    }

    .phone {
      width: 20%;
      height: 20%;
    }
  }

  &__inner {
    position: relative;
    flex-direction: row-reverse;

    @include tablet {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__img {
    position: absolute;
    top: -5%;
    left: 8%;
    z-index: -1;

    @include tablet {
      position: static;
      object-fit: contain;
    }

    @include breakpoint-down(550px) {
      position: relative;
      right: 200px;
    }
  }

  .content {
    width: 480px;
    text-align: center;
    padding: 2rem;
    margin-right: 200px;
    border-radius: 8px;
    border: 1px solid #F2F2F2;
    background: #ffffff;
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 5px 40px -5px rgb(106 173 227 / 35%);
    }

    &__title {
      font-weight: 600;
      font-size: 40px;
      margin-bottom: 20px;

      @include mobile {
        font-size: 30px;
      }

      @include breakpoint-down(366px) {
        font-size: 26px;
      }
    }

    &__desc {
      font-size: 16px;
      margin-bottom: 40px;
    }

    &__btn {
      padding: 1rem 40px;

      @include mobile {
        font-size: 18px;
        padding: 16px 40px;
      }
    }

    @include breakpoint-down(1360px) {
      margin-right: 100px;
    }

    @include tablet {
      //margin: 0 auto;
      width: 100%;
    }
  }
}



